@page "/"

@using AutoStarter.Shared.Services.IServices
@using global::AutoStarter.Shared.Models

<body>
<header class="header">
    <h1>AutoStarter</h1>
    <p>Drag and Drop Software Startup Manager</p>
</header>

<main class="container">
    <div class="table-container">
        <div class="table-header">Selected Software</div>
        <table class="entity-table" id="selected-entities">
            <tbody>
            @foreach (var item in _applicationsToStart!)
            {
                <tr>
                    <td>@item.DisplayName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <div class="table-header">Available Software</div>
        <table class="entity-table" id="available-entities">
            <tbody>
            @foreach (var item in _applications!)
            {
            <tr>
                <td>@item.DisplayName</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</main>
</body>

@code {
    [Inject] 
    public IApplicationService? ApplicationService { get; set; }
    private List<Application>? _applications;
    private List<Application>? _applicationsToStart = [];

    protected override async Task OnInitializedAsync()
    {
        _applications = ApplicationService!.GetInstalledApplications();
    }
}